@model BoardWebApp.ViewModels.SendLoginModel
@* SendRegisterationModel holds a UserRegistrationModel and a List of strings representing ValidationErrorMessages  *@
@{
    ViewData["Title"] = "Login";

}
@if (Model != null && Model.LogoutMessage != null)
{
    <div style="background-color: green; opacity: 0.4; width:80%; height: 10%; margin: 1em auto 2em auto; color: black;">@Model.LogoutMessage</div>
}
<h1>Log in</h1>

<h4>Login form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            @* This div displays all failed validations that are performed on UserRegistrationModel *@
            <!-- <div asp-validation-summary="All" class="text-danger"></div> -->
            <div style="color: #dc3545;">
                @if (Model != null && Model.ErrorMessage != null)
                {
                    @Model.ErrorMessage
                    <br />
                }
            </div>
            <div class="form-group">
                <label asp-for="userLoginModel.Email" class="control-label"></label>
                <input asp-for="userLoginModel.Email" placeholder="example@domain.org" class="form-control" />
                <span asp-validation-for="userLoginModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userLoginModel.Password" class="control-label"></label>
                <input asp-for="userLoginModel.Password" class="form-control" />
                <span asp-validation-for="userLoginModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}